services:
  mongodb:
    container_name: mongodb
    image: mongo:8.0.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_storage:/volumes/mongodb:/data/db

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_storage:/volumes/redis:/data

  rabbit:
    container_name: rabbit
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-admin}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-admin}

  influxdb:
    container_name: influxdb
    image: influxdb:latest
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      - INFLUXD_BUCKET=${INFLUXD_BUCKET:-jti-bucket}
      - INFLUXD_ORG=${INFLUXD_ORG:-jti-org}
      - INFLUXD_USERNAME=${INFLUXD_USERNAME:-admin}
      - INFLUXD_PASSWORD=${INFLUXD_PASSWORD:-admin}
      - INFLUXD_RETENTION=${INFLUXD_RETENTION:-0}
      - INFLUXD_ADMIN_TOKEN=${INFLUXD_ADMIN_TOKEN:-my-super-secret-token}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=jti-org
      - DOCKER_INFLUXDB_INIT_BUCKET=jti-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token

  telegraf:
    container_name: telegraf
    image: telegraf:latest
    user: "999:999"
    entrypoint: ["/usr/bin/telegraf"]
    command: ["--config", "/etc/telegraf/telegraf.conf"]
    depends_on:
      - influxdb
      - rabbit
      - just-task-it
    restart: on-failure
    environment:
      - RABBITMQ_USER=${RABBITMQ_USER:-admin}
      - RABBITMQ_PASS=${RABBITMQ_PASS:-admin}
      - RABBITMQ_QUEUE=${RABBITMQ_QUEUE:-task-events}
      - INFLUX_TOKEN=${INFLUX_TOKEN:-my-super-secret-token}
      - INFLUX_URL=${INFLUX_URL:-http://influxdb:8086}
      - INFLUX_ORG=${INFLUX_ORG:-jti-org}
      - INFLUX_BUCKET=${INFLUX_BUCKET:-jti-bucket}
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  grafana:
    container_name: grafana
    image: grafana/grafana
    ports:
      - "3002:3000"
    environment:
      - INFLUXD_ORG=${INFLUXD_ORG:-jti-org}
      - INFLUXD_BUCKET=${INFLUXD_BUCKET:-jti-bucket}
      - INFLUXD_ADMIN_TOKEN=${INFLUXD_ADMIN_TOKEN:-my-super-secret-token}
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_INSTALL_PLUGINS=grafana-influxdb-flux-datasource
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
    volumes:
      - grafana_storage:/var/lib/grafana
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources:ro
      - ./grafana/dashboard:/etc/grafana/dashboards:ro
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M
        reservations:
          cpus: "0.2"
          memory: 256M

  just-task-it:
    container_name: just-task-it
    build:
      context: .

    volumes:
      - logs:/usr/src/app/logs

    image: 2dv013/just-task-it:1.0.0

    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M
        reservations:
          cpus: "0.2"
          memory: 256M

    depends_on:
      mongodb:
        condition: service_started
      rabbit:
        condition: service_started
      redis:
        condition: service_started

    restart: on-failure

    environment:
      - BASE_URL=${BASE_URL:-/}

      - DB_CONNECTION_STRING=${DB_CONNECTION_STRING:-mongodb://mongodb:27017/just-task-it}

      - RABBITMQ_URL=${RABBITMQ_URL:-amqp://admin:admin@rabbit:5672}

      - PORT=${EXPRESS_APP_PORT:-3000}

      - SESSION_NAME=${SESSION_NAME:-just-task-it-feat-logging.user-session}

      - SESSION_SECRET=${SESSION_SECRET}

      - LOG_LEVEL=${LOG_LEVEL:-info}

      - LOGGER_MORGAN_FORMAT_ADD_REMOTE=${LOGGER_MORGAN_FORMAT_ADD_REMOTE:-true}
      - LOGGER_COMBINED_LOG_FILE=${LOGGER_COMBINED_LOG_FILE:-/usr/src/app/logs/combined.log}
      - LOGGER_ERROR_LOG_FILE=${LOGGER_ERROR_LOG_FILE:-/usr/src/app/logs/error.log}
      - LOGGER_UNCAUGHT_EXCEPTION_LOG_FILE=${LOGGER_UNCAUGHT_EXCEPTION_LOG_FILE:-/usr/src/app/logs/uncaught-exception.log}

    ports:
      - "${DOCKER_HOST_PORT:-3000}:${EXPRESS_APP_PORT:-3000}"

volumes:
  logs:
  influxdb_data:
  grafana_storage:
  mongo_storage:
  redis_storage:
