services:
  mongodb:
    image: mongo:8.0.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_storage:/volumes/mongodb:/data/db

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_storage:/volumes/redis:/data

  rabbit:
    image: rabbitmq:4-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-admin}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-admin}

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      - INFLUXD_BUCKET=${INFLUXD_BUCKET:-jti-bucket}
      - INFLUXD_ORG=${INFLUXD_ORG:-jti-org}
      - INFLUXD_USERNAME=${INFLUXD_USERNAME:-admin}
      - INFLUXD_PASSWORD=${INFLUXD_PASSWORD:-admin}
      - INFLUXD_RETENTION=${INFLUXD_RETENTION:-0}
      - INFLUXD_ADMIN_TOKEN=${INFLUXD_ADMIN_TOKEN:-my-super-secret-token}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=jti-org
      - DOCKER_INFLUXDB_INIT_BUCKET=jti-bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token

  telegraf:
    image: telegraf:latest
    container_name: telegraf
    depends_on:
      - influxdb
      - rabbit
      # Need to wait for the JTI application to start
    restart: on-failure
    environment:
      - RABBITMQ_USER=${RABBITMQ_USER:-admin}
      - RABBITMQ_PASS=${RABBITMQ_PASS:-admin}
      - RABBITMQ_QUEUE=${RABBITMQ_QUEUE:-task-events}
      - INFLUX_TOKEN=${INFLUX_TOKEN:-my-super-secret-token}
      - INFLUX_URL=${INFLUX_URL:-http://influxdb:8086}
      - INFLUX_ORG=${INFLUX_ORG:-jti-org}
      - INFLUX_BUCKET=${INFLUX_BUCKET:-jti-bucket}
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - INFLUXD_ORG=${INFLUXD_ORG:-jti-org}
      - INFLUXD_BUCKET=${INFLUXD_BUCKET:-jti-bucket}
      - INFLUXD_ADMIN_TOKEN=${INFLUXD_ADMIN_TOKEN:-my-super-secret-token}
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_INSTALL_PLUGINS=grafana-influxdb-flux-datasource
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
    volumes:
      - grafana_storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboard:/etc/grafana/dashboards

  just-task-it:
    build:
      context: .

    image: 2dv013/just-task-it:1.0.0

    depends_on:
      - mongodb
      - rabbit

    restart: on-failure

    environment:
      - BASE_URL=${BASE_URL:-/}

      - DB_CONNECTION_STRING=${DB_CONNECTION_STRING:-mongodb://mongodb:27017/just-task-it}

      - RABBITMQ_URL=${RABBITMQ_URL:-amqp://admin:admin@rabbit:5672}

      - PORT=${EXPRESS_APP_PORT:-3000}

      - SESSION_NAME=${SESSION_NAME:-just-task-it-feat-logging.user-session}

      - SESSION_SECRET=${SESSION_SECRET}

      - LOG_LEVEL=${LOG_LEVEL:-info}

      - LOGGER_MORGAN_FORMAT_ADD_REMOTE=${LOGGER_MORGAN_FORMAT_ADD_REMOTE:-true}

      - LOGGER_COMBINED_LOG_FILE=${LOGGER_COMBINED_LOG_FILE:-/var/log/just-task-it/combined.log}

      - LOGGER_ERROR_LOG_FILE=${LOGGER_ERROR_LOG_FILE:-/var/log/just-task-it/error.log}

      - LOGGER_UNCAUGHT_EXCEPTION_LOG_FILE=${LOGGER_UNCAUGHT_EXCEPTION_LOG_FILE:-/var/log/just-task-it/uncaught-exception.log}

    ports:
      - "${DOCKER_HOST_PORT}:${EXPRESS_APP_PORT:-3000}"

volumes:
  influxdb_data:
  grafana_storage:
  mongo_storage:
  redis_storage:
